*{
    margin: 0px;
    padding: px;
}
nav{
    background-color:navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(../images/munnar.jpg);
    background-size: cover;
}
.container{
    padding-top: 80px;
    padding-bottom: 30px;
}
.form{
    border: 3px solid navy;
    background-color:wheat;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form h2{
    text-align: center;
    color: navy;
}
.signup{
    text-align: center;
}
.signup a{
    text-decoration: none;
    color: blue;
}
footer{
    padding-top: 20px;
    text-align: center;
    background-color: navy;
    color: white;
    height: 80px;
}
.displayBadge{
    margin-top: 5%; 
    display: none; 
    text-align :center;
    width: 100%;
}


