*{
    margin: 0px;
    padding: 0px;
}
nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text{
    padding-top: 50px;
    padding-bottom: 30px;
}
footer{
    padding-top: 20px;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
}