*{
    margin: 0px;
    padding: 0px;
}
.home{
    background-color:coral;
}
nav{
    background-color:springgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-brand{
    color:red;
    animation-name: example;
    animation-duration: 4s; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }
.text{
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color:gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    padding-top: 20px;
    text-align: center;
    background-color: springgreen;
    color: white;
    height: 80px;
}
.home-cards{
    border: 2px solid white;
    border-radius: 10px;
    background-color:blueviolet;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home-cards h2{
    text-align: center;
    color: white;
    background-color: darkblue;
}
.home-cards h5{
    text-align: center;
    color: brown;
}
.card{
    transition: transform .2s; 
}
.card:hover {
    transform: scale(0.9);
}


